.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: all 0.5s ease-in-out;
  }
  
  .modal-wapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .header-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .close-modal {
    cursor: pointer;
  }